body{
    display: grid;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
    
}
.firstdiv {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    /* display: grid; */
    grid-template-columns: 10px 300px;
    align-items: center;
    /* grid-template-areas: "list search channel"; */
    justify-content: space-between;
    
}
.menu{
    width: 20px;
    height: 2px;
    background-color: gray;
    margin: 6px 0;
    
}
.bigMenu{
    position: relative;
    left: 30px;
    bottom:25px;
}
/* .dashes{
    list-style: none;
    grid-area: list;
    align-self: flex-start;
} */
.search {
    width: 400px;
    height: 20px;
    grid-area: search;
    align-self: center;
    margin-left: 550px;
    margin-top: 20px;
}
.seconddiv {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0px;
    left: 1120px;
    justify-content: space-between;
}
[class*="in"] {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    
}
[class*="pic"] {
    /* border: 1px solid blue; */
    width: 130px;
    height: 70px;
    cursor: pointer;
}
    
[class*="text"] {
    /* border: 1px solid green; */
    float: right;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: clip;
    position: relative;
    top: -15px;
    left: 10px;
    cursor: pointer;

}
[class*="title"] {
    font-size: 20px;
}
hr {
    background-color: darkgray;
    height: 0px;
    width: 1100px;
}
.like{
    background-color: white;
    color: #00000d;
    border: none;
    font-size: 20px;
    position: relative;
    bottom: 20px;
    right: 200px;
    cursor: pointer;
}
.dislike{
    background-color: white;
    color: #00000d;
    border: none;
    font-size: 20px;
    position: relative;
    bottom: 20px;
    right: 200px;
    cursor: pointer;
}
.share{
    background-color: white;
    color: #00000d;
    border: none;
    position: relative;
    bottom: 20px;
    right: 200px;
    cursor: pointer;
}
.save{
    background-color: white;
    color: black;
    border: none;
    position: relative;
    bottom: 20px;
    right: 200px;
    cursor: pointer;
}
.channelimg{
    width: 50px;
    height: 50px;
    border-radius: 80px;
    position: relative;
    left: 20px;
}
.channelname{
    font-size: 16px;
    position: relative;
    left: 85px;
    bottom: 60px;
}
.sub{
    background-color: #f00;
    position: relative;
    left: 1030px;
    bottom: 110px;
    color: white;
}
.numbersub{
    font-size: 10px;
    position: relative;
    left: 90px;
    bottom: 70px;
    color: grey;

}

[class*="user"]{
    border:1px solid gray;
    box-sizing: border-box;
    box-shadow:gray;
    position: relative;
    
    width: 1090px;
}
.divuser{
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.headercom{
    position: relative;
    left: 20px;
}
